@import '@ctrl/ngx-emoji-mart/picker';

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Nunito', 'Inter', 'Segoe UI', sans-serif;
}

.max-width-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
